<mat-card>
  <mat-card-content>

    <div class="button-row">
      <button mat-flat-button color="primary" type="button" (click)="connect()">Connect</button>
      <button mat-flat-button color="warn" type="button" (click)="disconnect()">Disconnect</button>
    </div>

    <mat-grid-list cols="3" rowHeight="48%">
      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'#ca9dd7'">
        @if (connected) {
          <h1 class="display-1">
            {{ voltage.toFixed(1) }}V
          </h1>
        } @else { <h1>🚫</h1>}
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'#7fcbd7'">
        @if (connected) {
          <h1 class="display-1">
            {{ current.toFixed(1) }}A
          </h1>
        } @else { <h1>🚫</h1>}
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="1"
        [rowspan]="2"
        [style.background]="'#857ebb'">
        @if (connected) {
          <h1 class="display-1">
            {{ capacityTotal }}%
          </h1>
        } @else { <h1>🚫</h1>}
        <capacity-diag></capacity-diag>
      </mat-grid-tile>

      <mat-grid-tile
        [colspan]="2"
        [rowspan]="1"
        [style.background]="'#facbd3'">
        @if (connected) {
          <h1 class="display-1">
            {{ power.toFixed(1) }}W
          </h1>
        } @else { <h1>🚫</h1>}
        <power-diag></power-diag>
      </mat-grid-tile>
    </mat-grid-list>

    <mat-card-footer>
      @if (connecting) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
    </mat-card-footer>

  </mat-card-content>
</mat-card>

<router-outlet />
