html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

mat-grid-tile {
  border: 1px solid #000;
  background-color: #FFF;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 8px 16px 16px 0;
}
