html,
body {
  height: 100%;
  margin: 0;
}

mat-card {
  height: 100%;
  background-color: #fff;
}

mat-card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-grid-list {
  flex-grow: 1; /* This allows the grid list to take up the remaining space */
}

mat-grid-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  font-size: xx-large;
}

.button-row {
  display: table-cell;
  max-width: 600px;
}

.button-row .mat-mdc-button-base {
  margin: 0px 16px 16px 0;
}

capacity-diag,
power-diag {
  position: absolute;
  width: 100% !important;
  bottom: 0;
}
