<style>

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }
  }
</style>

<main class="main">
  <div class="content">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 150 50"
      fill="none"
      class="bamon-logo"
    >
      <defs>
        <linearGradient id="b" x1="0%" y1="0%" x2="100%" y2="100%">
          <stop offset="0%" stop-color="#ff0000" />
          <stop offset="100%" stop-color="#00ff00" />
        </linearGradient>
      </defs>
      <text x="10" y="35" font-family="Roboto" font-size="40" font-weight="bold" fill="url(#b)">
        bamon
      </text>
    </svg>

    <div class="container">
      <button mat-flat-button color="primary" type="button" (click)="connect()">Connect</button>
      <button mat-flat-button color="warn" type="button" (click)="disconnect()">Disconnect</button>
    </div>

    {{ voltage }}V
    {{ current }}A
    {{ power }}W
    {{ capacityTotal }}%
    connecting: {{ connecting }}
    connected: {{ connected }}
  </div>
</main>

<router-outlet />
